// =========================================================
// * Volt React Dashboard
// =========================================================

// * Product Page: https://themesberg.com/product/dashboard/volt-react
// * Copyright 2021 Themesberg (https://www.themesberg.com)
// * Official Repository: https://github.com/themesberg/volt-react-dashboard
// * License: MIT License (https://themesberg.com/licensing)

// * Designed and coded by https://themesberg.com

// =========================================================

// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap");

// Bootstrap mixins and functions
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/functions";

// Change variables here
@import "volt/variables";

// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Vendor
@import "volt/vendor";

// volt mixins & functions
@import "volt/mixins";
@import "volt/functions";

// Utilities
@import "volt/reboot";
@import "volt/utilities";

// Layout
@import "volt/layout";

// Components
@import "volt/components";

// write your custom styles here!
table.border th,
table.border td,
table.border {
  border: 2px solid #384364;
  padding: 5px 10px;
}

.p-0 {
  padding: 0;
  margin: 0;
  display: inline-block;
}

.blue-bg {
  background-color: #9addfb;
}

.navbar-brand img {
  height: 40px;
}

.plateau-breakdown {
  height: 300px;
  overflow: auto;
}

.widget-text {
  font-size: 1.15rem;
}

table:nth-child(4) {
  margin-bottom: 0rem !important;
}

.goUp {
  margin-top: -200px;
}

.crop {
  width: auto;
  height: 500px;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: auto;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
  body {
    font-size: 0.8rem;
  } /*1rem = 16px*/
  h5 {
    font-size: 1.1rem;
  } /*1rem = 16px*/
  .card-header {
    padding: 0.8rem 1rem;
  }
  .plateau-breakdown {
    height: 200px;
    overflow: auto;
  }
}
